div.weather-app {
    background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    max-width: 600px;
    margin: 50px 0px 0px 300px;
    padding: 30px 0px 50px 50px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    border-color: #704c91;
  }
  .Weather .overview {
    margin-bottom: 20px;
  }
  .Weather .clearfix.weather-temperature {
    padding: 1px 1px 1px 120px;
  }
  .Weather .float-left {
    float: left;
    padding-left: 10px;
  }
  .Weather .temp {
    position: relative;
    font-weight: 800;
    font-size: 50px;
    top: -1px;
    left: 20px;
  }
  .Weather .btn-primary {
    background-color: #704c91;
    border-color: #704c91;
  }
  .Weather .btn-primary:hover {
    color: #704c91;
    background-color: #fff;
    border-color: #704c91;
    transition: all 200ms ease-in-out;
  }
  .Weather .col-2 {
    text-align: center;
  }
  .Weather .col-3 {
    padding-top: 20px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
    padding-left: 25px;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 100;
    line-height: 21px;
  }
  li::first-letter {
    text-transform: capitalize;
  }
  span.units {
    position: relative;
    padding: 20px;
    bottom: 25px;
  }
  